<h2>This is were your main stuff will go</h2>

<input id="url-field" type="text" placeholder="Paste a link...">
<button class="btn-shorten" type="button">SHORTEN</button>

<div>
  <div id="link"></div>
</div>
